<html>

	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	</head>

	<body>
		<h1> WELCOME TO BARBER SHOP!</h1>

		<p class="something">Welcome!</p>
		<p>We're open!</p>

		<form action="/" method="POST">

			Your name <br />
			<input type="text" name="user_name" /> <br />

			Your phone <br />
			<input type="text" name="phone" />     <br />

			Date and time <br />
			<input type="text" name="date_time" /> <br />

			<input type="submit" class="btn btn-primary"/>
		</form>
	</body>

</html>